<app-navbar></app-navbar>

<br>

<div class="container">
  <div class="row">
      <div class="col-sm-2 bg-warning">
          <div class="d-flex justify-content-center">.col-sm-2
          </div>
      </div>
      <div class="col-sm-2 bg-info">
          <div class="d-flex justify-content-center">.col-sm-2
          </div>
      </div>
      <div class="col-sm-2 bg-warning">
          <div class="d-flex justify-content-center">.col-sm-2
          </div>
      </div>
      <div class="col-sm-2 bg-info">
          <div class="d-flex justify-content-center">.col-sm-2
          </div>
      </div>
      <div class="col-sm-2 bg-warning">
          <div class="d-flex justify-content-center">.col-sm-2
          </div>
      </div>  
      <div class="col-sm-2 bg-info">
          <div class="d-flex justify-content-center">.col-sm-2
          </div>
      </div>    
  </div>
  <br>

  <div class="row">
    <div class="col-sm-3 bg-warning">
        <div class="d-flex justify-content-center">.col-sm-3
        </div>
    </div>
    <div class="col-sm-3 bg-info">
        <div class="d-flex justify-content-center">.col-sm-3
        </div>
    </div>
    <div class="col-sm-3 bg-warning">
        <div class="d-flex justify-content-center">.col-sm-3
        </div>
    </div>
    <div class="col-sm-3 bg-info">
        <div class="d-flex justify-content-center">.col-sm-3
        </div>
    </div>  
  </div>
  <br>
  <div class="row">
      <div class="col-sm-4 bg-warning">
          <div class="d-flex justify-content-center">.col-sm-4
          </div>
      </div>
      <div class="col-sm-4 bg-info">
          <div class="d-flex justify-content-center">.col-sm-4
          </div>
      </div>
      <div class="col-sm-4 bg-warning">
          <div class="d-flex justify-content-center">.col-sm-4
          </div>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-6 bg-warning">
          <div class="d-flex justify-content-center">.col-sm-6
          </div>
      </div>
      <div class="col-sm-6 bg-info">
          <div class="d-flex justify-content-center">.col-sm-6
          </div>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-12 bg-warning">
          <div class="d-flex justify-content-center">.col-sm-12
          </div>
      </div>
  </div>
</div>