<app-navbar></app-navbar>

<br>
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Tooltip acima">
    Tooltip acima
  </button>
  <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Tooltip à direita">
    Tooltip à direita
  </button>
  <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Tooltip abaixo">
    Tooltip abaixo
  </button>
  <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="left" title="Tooltip à esquerda">
    Tooltip à esquerda
  </button>
</div>
<br>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Você">
      Vi
    </button>
    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="não">
      ne
    </button>
    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="conhece">
      konas
    </button>
    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="essa">
      ĉi tiu
    </button>
    <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="lingua">
      lingvo!
    </button>
</div>
